@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.cart-section {
    font-family: Roboto;
    color: #000000;
    background-color: #F4F4F4;
    width: 100%;
}

.heading {
    padding: 20px;
    background-color: #ffffff;
}

    .main-section {
        display: flex;
        justify-content: space-between;
        padding:16px;
    }

.left-section {
    width: 72%;
    margin-left: 12px;
    border: solid 1px #143A51;
    border-radius: 3px;
}

    .left-section .item-box {
        padding: 20px 15px;
        border-bottom: 1px solid #000000;
        background-color: #ffffff;
        margin:8px;
    }

.right-section {
    width: 24%;
    margin-right: 10px;
    background-color: #ffffff;
    border:solid 1px #143A51; 
    border-radius:3px;
}

    .right-section .cart-summary {
        padding: 14px 12px;
        background-color: #ffffff;
        margin:10px;
    }
